<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>AI Resume Analyzer</h1>

        <p>Upload your resume and compare it with a job description.</p>

<form action="/analyze" method="POST" enctype="multipart/form-data">

    <label>Upload Resume (PDF)</label><br><br>

    <input
        type="file"
        name="resume"
        accept=".pdf"
        required><br><br>

    <label>Job Description</label><br><br>

    <textarea name="job_description"
          rows="10"
          cols="60"
          required
          placeholder="Paste job description here..."></textarea><br><br>

    <button type="submit">
        Analyze Resume
    </button>

</form>
    </div>

</body>

</html>